<div class="footerContainer">
<div class="LeftSection">
  <div class="Location"><p><i class="fa fa-1x fa-map-marker" aria-hidden="true"></i>Location</p></div>
  <div class="phont"><p><i class="fa fa-1x fa-phone" aria-hidden="true"></i>Phone</p></div>
  <div class="Contact"><p><i class="fa fa-1x fa-envelope" aria-hidden="true"></i>Contact@email.com</p></div>
</div>
<div class="RightSection">
  <div class="aboutDescription">
    <h4>About us</h4>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu</p></div>
  <!--<div class="Socials">-->
   <!--<p> <i class="fa fa-2x fa-facebook-square" aria-hidden="true"></i></p>-->
  <!--</div>-->
</div>
</div>
