<div class="landingContainer">
  <img src="../../assets/imgs/makkah2.jpg" alt="">
  <div class="landingMoto">
    <div class="motoWrapper">
      <!--<div class="knowus">-->
      <!--<p>We are experts traveling </p>-->
      <!--</div>-->
      <div class="moto">
        <h1>Manar <span>Travel</span></h1>
        <p>Let us organize your next <span>Trip</span></p>
      </div>
    </div>

  </div>
  <!--<div class="landingButtonWrapper">-->
  <!--<div class="CustomiseButton" pageScroll [pageScrollOffset]="-100" [pageScrollDuration]="600" href="#mainRoute" ><p>Customise program now</p></div>-->
  <!--</div>-->
  <div class="mainRoutes" id="mainRoute">

    <div class="Umrah" routerLink="/programs/umrah">
      <img src="../../assets/imgs/umrah.jpg" alt="">
      <div class="routeTitle"><p>عمرة</p></div>
    </div>
    <div class="hajj" routerLink="/programs/hajj">
      <img src="../../assets/imgs/hajj.jpg" alt="">
      <div class="routeTitle"><p>حج</p></div>
    </div>
    <div class="Ramadan" routerLink="/programs/ramadan">
      <img src="../../assets/imgs/ramdan.jpg" alt="">
      <div class="routeTitle"><p>رمضان</p></div>
    </div>

  </div>
  <div class="visitTitle">
    <p>Visits</p>
  </div>
  <div class="visit">
    <div class="item">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="knowMore"><p>know More</p></div>
    </div>
    <div class="item">
      <img src="../../assets/imgs/qubamasged.jpg" alt="">
      <div class="itemTitle"><p>Masged El Quba</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="knowMore"><p>know More</p></div>
    </div>
    <div class="item">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="knowMore"><p>know More</p></div>
    </div>
  </div>
</div>
