<!--<iframe width="100%"  id="embed" height="600" src="http://localhost:4200/iframe/kzVWGf7WJLlh" frameborder="0" allowfullscreen></iframe>-->
<!--<iframe width="640" height="360" src="https://widget.toornament.com/tournaments/946743628556165120/stages/946746920488640512/?_locale=en_US&theme=light" frameborder="0" allowfullscreen="true"></iframe>-->

<!--<iframe src="http://challonge.com/9xz3gpnf/module" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>-->
<div class="programsContainer" id="scrollTop">

  <!--<div class="Title">-->
  <!--<p>Program</p>-->
  <!--</div>-->
  <div class="steps">
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-h-square" aria-hidden="true"></i></div>
      <p>Choose Hotel</p>
    </div>
    <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-bed" aria-hidden="true"></i></div>
      <p>Room Type</p>
    </div>
    <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-calendar-check-o" aria-hidden="true"></i></div>
      <p>Check In & Out dates</p>
    </div>
    <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-calculator" aria-hidden="true"></i></div>
      <p>Calculate your trip</p>
    </div>
  </div>
  <div class="programNavbar">
    <ul>
      <li>MAKKAH</li>
    </ul>
  </div>

  <app-makkah></app-makkah>
  <div class="programNavbar">
    <ul>
      <li>MADINAH</li>
    </ul>
  </div>
  <app-madinah></app-madinah>
  <div class="calculate">
    <div class="calculate_button" (click)="CalculateProgram()" *ngIf="!ViewTotalTripCost; else viewTotal">Calculate
    </div>
    <ng-template #viewTotal>
      <div class="price">
        <!--<h1>-{{totalTrip}}- EGP</h1>-->
        <div class="Title"><p>
          Total Cost
        </p></div>
        <div class="show_price">

          <h1>{{totalTrip | currency:'EGP':'symbol':'3.2-2'}}</h1>
        </div>
        <div *ngIf="Includes">
          <h3>Price Includes</h3>
          <div [innerHTML]="Includes"></div>
        </div>
        <div *ngIf="generalConditions">
          <h3>General Conditions</h3>
          <div [innerHTML]="generalConditions"></div>
        </div>
        <div class="calculate_button" (click)="RequestProgram()">Request Program
        </div>
      </div>
    </ng-template>

  </div>

</div>
