<div class="programsContainer" id="scrollTop">

  <!--<div class="Title">-->
  <!--<p>Program</p>-->
  <!--</div>-->
  <div class="steps">
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-h-square" aria-hidden="true"></i></div>
      <p>Choose Hotel</p>
    </div>
    <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-bed" aria-hidden="true"></i></div>
      <p>Room Type</p>
    </div>
    <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-calendar-check-o" aria-hidden="true"></i></div>
      <p>Check In & Out dates</p>
    </div>
    <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
    <div class="step_container">
      <div class="step_item"><i class="fa fa-2x fa-calculator" aria-hidden="true"></i></div>
      <p>Calculate your trip</p>
    </div>
  </div>
  <div class="programNavbar">
    <ul>
      <li>MAKKAH</li>
    </ul>
  </div>

  <app-makkah></app-makkah>
  <div class="programNavbar">
    <ul>
      <li>MADINAH</li>
    </ul>
  </div>
  <app-madinah></app-madinah>
  <div class="calculate">
    <div class="calculate_button" (click)="CalculateProgram()" *ngIf="!ViewTotalTripCost; else viewTotal">Calculate
    </div>
    <ng-template #viewTotal>
      <div class="price">
        <!--<h1>-{{totalTrip}}- EGP</h1>-->
        <div class="Title"><p>
          Total Cost
        </p></div>
        <h1>{{totalTrip}} EGP</h1>
        <div *ngIf="Includes">
          <h3>Price Includes</h3>
          <div [innerHTML]="Includes"></div>
        </div>
        <div *ngIf="generalConditions">
          <h3>General Conditions</h3>
          <div [innerHTML]="generalConditions"></div>
        </div>
      </div>
    </ng-template>
  </div>

</div>
