.modal-dialog{
  width: auto;
  display: flex;
  flex-flow: column;
}
.modalControl{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
  padding-top: 1%;
}
.close{
  color: #ffffff;
  background: #27595f;
  height: 20px;
  width: 20px;
  border-radius: 43px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.close span{
  color: #ffffff;
}
