<div class="modal fade" bsModal #globalModal="bs-modal"
     tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" (onHide)="onHide()" aria-hidden="true">
  <div class="modal-dialog">
<div class="modalControl">
      <button type="button" class="close pull-right" aria-label="Close" (click)="globalModal.toggle();">
        <span aria-hidden="true">&times;</span>
      </button>
</div>
    <div [ngSwitch]="modal">
      <app-submit *ngSwitchCase="'submit'"></app-submit>
    </div>

  </div>
</div>
