<div class="profileContainer">
  <div class="profileHeader">
    <div class="img_container">
      <img src="../../assets/imgs/manar_logo.jpg" alt="">
    </div>
    <div class="details_container">
      <h1>The First Program</h1>
      <p>Umrah program</p>
      <div class="date">
        <div><p>Cairo </p><i class="fa fa-plane" aria-hidden="true"></i>
          <p> Madina </p><span>03/04/2017</span></div>
        <div><p>Madina </p><i class="fa fa-plane" aria-hidden="true"></i>
          <p>Cairo </p><span>03/04/2017</span></div>
      </div>
    </div>
  </div>
  <div class="profile_body">
    <div class="Title right">
      <p>Accommodation</p>
    </div>
    <div class="Accommodation">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Hotel Name</th>
          <th>Location</th>
          <th>Single Room Price</th>
          <th>Double Room Price</th>
          <th>Triple Room Price</th>
          <th>Quad Room Price</th>
          <th>Child <i class="fa fa-arrow-down"></i> 12 Years</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>GRAND ZAMZAM</td>
          <td>Makkah</td>
          <td>john@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>ILLAF EL MASHAER</td>
          <td>Makkah</td>
          <td>mary@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>john@example.com</td>
        </tr>
        <tr>
          <td>July</td>
          <td>Dooley</td>
          <td>july@example.com</td>
          <td>John</td>
          <td>Doe</td>
          <td>john@example.com</td>
          <td>john@example.com</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="horizontal_line"></div>
    <div class="rules">
      <div>
        <h3>Includes</h3>
        <p>sds</p>
        <p>asda</p>
        <p>asdas</p>
        <p>asd</p>
      </div>
      <div>
        <h3>General Conditions</h3>
        <p>sds</p>
        <p>asda</p>
        <p>asdas</p>
        <p>asd</p>
      </div>

    </div>
  </div>

</div>
