<div *ngIf="!programService.isMaddinahAccommodationLoading;else loadMadinahHotels">
<div class="accommodation">
  <div class="hotel" *ngFor="let hotel of programService.maddinahhotels; let index = index"
       (click)="selectHotel(index ,hotel.name)"  [ngClass]="{selected: programService.maddinahSelectedHotel[index]}">
    <img [src]="globalService.imagePath+'/'+hotel.picture" alt="">
    <div class="hotelName"><p>{{hotel.name}}</p>
      <rating style="font-size: 17px;" [(ngModel)]="hotel.rating" [max]="max" [readonly]="isReadonly"></rating></div>
  </div>
</div>
</div>
<ng-template #loadMadinahHotels>
  <div class="space sm"></div>
  <app-loading-indicator></app-loading-indicator>
</ng-template>
<div class="schedule">


  <div class="input_filed">
    <div class="Title"><p>{{globalService.language.custom_programs_html.Room_Type}}</p></div>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="programService.roomType" btnRadio="Single">{{globalService.language.custom_programs_html.Single}}</label>
      <label class="btn btn-primary" [(ngModel)]="programService.roomType" btnRadio="Double">{{globalService.language.custom_programs_html.Double}}</label>
      <label class="btn btn-primary" [(ngModel)]="programService.roomType" btnRadio="Triple">{{globalService.language.custom_programs_html.Triple}}</label>
      <label class="btn btn-primary" [(ngModel)]="programService.roomType" btnRadio="Quad">{{globalService.language.custom_programs_html.Quad}}</label>
    </div>
  </div>

  <div class="input_filed">
    <div class="Title"><p>{{globalService.language.custom_programs_html.Check_In_Out}}</p></div>
    <div class="schedule_wrapper">
      <input [minDate]="minDate" [bsConfig]="bsConfig" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="programService.MaddinahbsRangeValue">

      <button class="btn btn-primary" (click)="drp.toggle()">{{globalService.language.custom_programs_html.Date_Range_Picker}}</button>
    </div>

  </div>
</div>

