.contact_us{
  height: auto;
}
.info_block{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}
.info_block h4{
  color: #eaeaea;
  font-family: Georgia;
}
.info_block p{
  color: #ffffff;
  font-family: Georgia;
  font-size: 16px;
}
.horizontal_line{
 width: 100%;
}
.sumbitButton{
  width: 90%;
}
