<div *ngIf="!loadRequest; else isloading">
  <form [formGroup]="request" (ngSubmit)="requestProgram(request.value , request.valid,data)">
    <div class="contact_us">
      <div class="contact_us_title"><p>{{globalService.language.dialog.Request_Program}}</p></div>
      <div class="contact_us_form">
        <div class="row">
          <div class="col-lg-12">
            <div class="col-lg-4">
              <div class="info_block">
                <h4>{{globalService.language.dialog.Makkah_Hotel}}</h4>
                <p>{{this.data.makkah_hotel}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="info_block">
                <h4>{{globalService.language.dialog.Makkah_Nights}}</h4>
                <p>{{this.data.makkah_nights}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="info_block">
                <h4>{{globalService.language.dialog.Room_Type}}</h4>
                <p>{{this.data.room_type}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="info_block">
                <h4>{{globalService.language.dialog.Maddinah_Hotel}}</h4>
                <p>{{this.data.madinah_hotel}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="info_block">
                <h4>{{globalService.language.dialog.Madinah_Nights}}</h4>
                <p>{{this.data.madinah_nights}}</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="info_block">
                <h4>{{globalService.language.dialog.Room_Type}}</h4>
                <p>{{this.data.room_type}}</p>
              </div>
            </div>
            <div class="horizontal_line"></div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="firstname">{{globalService.language.dialog.Full_Name}}</label>
                <input formControlName="full_name" type="text" placeholder="Ex: Mark" class="form-control"
                       id="firstname">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="email">{{globalService.language.dialog.Email}}</label>
                <input formControlName="email" type="email" placeholder="Ex: example@hotmail.com"
                       class="form-control"
                       id="email">
              </div>
            </div>
            <div class="col-lg-12">
              <div class="form-group">
                <label for="mobile">{{globalService.language.dialog.mobile}}</label>
                <input formControlName="mobile" type="number" placeholder="Ex: 01XXXXXXXXX" class="form-control"
                       id="mobile">
              </div>
            </div>
            <div class="col-lg-6">
              <input type="submit" class="sumbitButton" value="Request"
                     [ngClass]="{'disabled' : request.invalid , 'active' : request.valid}"
                     [disabled]="request.invalid "/>
            </div>
            <div class="col-lg-6">
              <button class="sumbitButton red" mat-button mat-dialog-close="Cancel">
                {{globalService.language.dialog.Cancel}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<ng-template #isloading>
  <div class="space md"></div>
  <app-loading-indicator></app-loading-indicator>
  <div class="space md"></div>
</ng-template>
