<div class="programListContainer">
<div class="Title right manar_program">
  <p>Manar Programs</p>
</div>
  <div class="programList">
    <div class="item" (click)="openProgram()">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="itemDate">
        <p>2017-05-54</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="itemDate">
        <p>2017-05-54</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="itemDate">
        <p>2017-05-54</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="itemDate">
        <p>2017-05-54</p>
      </div>
    </div>
    <div class="item">
      <img src="../../assets/imgs/madinamosque.jpg" alt="">
      <div class="itemTitle"><p>Masged El Madinah</p></div>
      <div class="itemDescription"><p>sdasd DBAJSBDA KSBDA JDBJS ABDjsdjbdjs ndsjdn</p></div>
      <div class="itemDate">
        <p>2017-05-54</p>
      </div>
    </div>
  </div>
</div>
