<div *ngIf="!isProgramsLoading;else  loadProfile">
  <div class="programListContainer">
    <div class="Title right manar_program">
      <p>{{globalService.language.Manar_Programs_html.Manar_Programs}}</p>
    </div>
    <div class="programList">
      <div class="item" (click)="openProfile(program.programType,program.id)" *ngFor="let program of programs">
        <img [src]="globalService.imagePath+'/'+program.picture" alt="">
        <div class="itemTitle"><p>{{program.name}}</p></div>
        <div class="itemDescription"><p>{{program.programType.toUpperCase()}} {{globalService.language.Manar_Programs_html.Program}} </p>
        </div>
        <div class="itemDate">
          <p><i class="fa fa-suitcase"></i>{{globalService.language.Manar_Programs_html.Departure}} {{program.departureDate | date:'fullDate'}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loadProfile>
  <div class="space lg"></div>
  <app-loading-indicator></app-loading-indicator>
</ng-template>

