<div class="profile_body">
  <div class="Title right">
    <p>{{globalService.language.program_profile_html.Accommodation}}</p>
  </div>
  <!--umrah accommodotion-->
  <div class="AccommodationUmrah" *ngIf="profileService.programType=='umrah';else  hajjProgram">
    <div class="container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>{{globalService.language.program_profile_html.Hotel_Makkah}}</th>
            <th>{{globalService.language.program_profile_html.Hotel_Maddinah}}</th>
            <th *ngIf="profileService.programProfile?.single!=0">
              {{globalService.language.program_profile_html.Single_Room}}
            </th>
            <th>{{globalService.language.program_profile_html.Double_Room}}</th>
            <th>{{globalService.language.program_profile_html.Triple_Room}}</th>
            <th>{{globalService.language.program_profile_html.Quad_Room}}</th>
            <th>{{globalService.language.program_profile_html.Child}} <i class="fa fa-arrow-down"></i> 12
              {{globalService.language.program_profile_html.Years}}
            </th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>{{profileService.programProfile?.MakkahHotel}}</td>
            <td>{{profileService.programProfile?.madinahHotel}}</td>
            <td *ngIf="profileService.programProfile?.single!=0">{{profileService.programProfile?.single}} EGP</td>
            <td>{{profileService.programProfile?.double}} EGP</td>
            <td>{{profileService.programProfile?.triple}} EGP</td>
            <td>{{profileService.programProfile?.quad}} EGP</td>
            <td>{{profileService.programProfile?.child}} EGP</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--hajj accommodation-->

  <ng-template #hajjProgram>
    <div class="Accommodationhajj">
      <div class="container">
        <table class="table table-striped">
          <thead>
          <tr>
            <th>{{globalService.language.program_profile_html.Hotel_Name}}</th>
            <th>{{globalService.language.program_profile_html.Location}}</th>
            <th>{{globalService.language.program_profile_html.From}}</th>
            <th>{{globalService.language.program_profile_html.To}}</th>
          </tr>
          </thead>
          <tbody>
          <tr class="tr_select">
            <td>{{profileService.programProfile?.MakkahHotel}}</td>
            <td>{{globalService.language.program_profile_html.Makkah}}</td>
            <td>{{profileService.programProfile?.makkah_from1}}</td>
            <td>{{profileService.programProfile?.makkah_to1}}</td>

          </tr>
          <tr class="tr_select">
            <td>{{profileService.programProfile?.MakkahHotel}}</td>
            <td>{{globalService.language.program_profile_html.Makkah}}</td>
            <td>{{profileService.programProfile?.makkah_from2}}</td>
            <td>{{profileService.programProfile?.makkah_to2}}</td>
          </tr>
          <tr class="tr_select">
            <td>{{profileService.programProfile?.madinahHotel}}</td>
            <td>{{globalService.language.program_profile_html.Maddinah}}</td>
            <td>{{profileService.programProfile?.madinah_from}}</td>
            <td>{{profileService.programProfile?.madinah_to}}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div class="Title right">
      <p>{{globalService.language.program_profile_html.Mashaer}}</p>
    </div>
    <div class="mashaer">
      <div>
        <h3>{{globalService.language.program_profile_html.Arafa}}</h3>
        <div [innerHTML]="profileService.programProfile?.arafa"></div>
      </div>
      <div>
        <h3>{{globalService.language.program_profile_html.Menah}}</h3>
        <div [innerHTML]="profileService.programProfile?.mena"></div>
      </div>

    </div>
  </ng-template>

  <div class="horizontal_line"></div>
  <div class="rules">
    <div>
      <h3>{{globalService.language.program_profile_html.Includes}}</h3>
      <div [innerHTML]="profileService.programProfile?.includes"></div>
    </div>
    <div>
      <h3>{{globalService.language.program_profile_html.General_Conditions}}</h3>
      <div [innerHTML]="profileService.programProfile?.generalConditions"></div>
    </div>

  </div>
  <div *ngIf="profileService.programType!='umrah'" class="hajjprice">
    <div class="Title right">
      <p>{{globalService.language.program_profile_html.Prices}}</p>
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{globalService.language.program_profile_html.Single}}</th>
          <th>{{globalService.language.program_profile_html.Double}}</th>
          <th>{{globalService.language.program_profile_html.Triple}}</th>
          <th>{{globalService.language.program_profile_html.Quad}}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>1500</td>
          <td>200</td>
          <td>600</td>
          <td>48484</td>

        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
