/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

@import url('https://fonts.googleapis.com/css?family=Amiri');

.loadingImg {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*----------------------  Navigation ----------------------------------*/
.navBody {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}

.navContainer {

}

.navigation {
  border-radius: 0px 0px 11px 11px;
  height: 60px;
  background: rgba(59, 184, 197, 0.88);
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.navigation .tab {
  display: flex;
  width: 33%;
  height: inherit;
  text-align: center;
  border-radius: inherit;
}

.navigation .tab:hover {
  background: #25a4b1;
  cursor: pointer;
  transition: background 0.5s;
}

.navigation .tab p {
  width: 100%;
  align-self: center;
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  margin: 0 !important;
}

.visit {
  width: 100%;
  background: #3bb8c5;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;
  padding-top: 7%;
  padding-bottom: 2%;
}

.visitTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -3%;
}

.valueTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -3%;
}

.valueTitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  background: #ffffff;
  width: 110px;
  height: 110px;
  border-radius: 80px;
  color: #3bb8c5;
  font-size: 21px;
  font-weight: bold;
}

.visitTitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  background: #3bb8c5;
  width: 110px;
  height: 110px;
  border-radius: 80px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
}

.aboutusTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -3%;
}

.aboutusTitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  background: #3bb8c5;
  width: 110px;
  height: 110px;
  border-radius: 80px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
}

.visit .item {
  width: 380px;
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.visit .see_more {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 3%;
}

.visit .see_more p:hover {
  cursor: pointer;
  background: #165f67;
}

.visit .see_more p {
  background: #108a96;
  color: #ffffff;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 2%;
}

.visit .item img {
  width: inherit;
  height: 300px !important;
  position: relative;
}

.visit .item .knowMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.knowMore p {
  width: 150px;
  color: #ffffff;
  height: 35px;
  padding-top: 2%;
  background-color: #3bb8c5;
}

.knowMore p:hover {
  background-color: #39a1ae;
  cursor: pointer;
}

.visit .item .itemTitle {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.visit .item .itemDescription {
  position: relative;
  width: 100%;
}

.visit .item p {
  text-align: center;
  font-family: Georgia, sans-serif;
  font-size: 14px;
}

.visit .item .itemTitle p {
  font-weight: bold;
  font-size: 22px;
}

.values {
  width: 100%;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-flow: column;
  padding-top: 5%;
}

.values .first_row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.values .second_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.values .second_row .left {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  justify-content: space-around;
}

/*.values .second_row .left:after { !*  our pseudo-element *!*/
/*content: "";*/
/*position: absolute;*/
/*height: 0;*/
/*left: 23%;*/
/*top: 42%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: #f5f5f5;*/
/*border-top-color: transparent;*/
/*border-bottom-color: transparent;*/
/*border-right-color: transparent;*/
/*}*/

.values .second_row .right {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  justify-content: space-around;
}

/*.values .second_row .right:before { !*  our pseudo-element *!*/
/*content: "";*/
/*position: absolute;*/
/*height: 0;*/
/*right: 23%;*/
/*top: 42%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: #f5f5f5;*/
/*border-top-color: transparent;*/
/*border-bottom-color: transparent;*/
/*border-left-color: transparent;*/
/*}*/

.values .third_row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.first_row p, .second_row p, .third_row p {
  background: #39a1ae;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-handshake-o, .fa-check-square-o, .fa-thumbs-o-up, .fa-usd {
  color: #ffffff;
}

.integrity {
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
  color: #3bb8c5;
  font-family: Noto Serif, sans-serif;
  width: 50%;
  background: whitesmoke;
  padding: 2%;
}

/*.integrity::after {*/
/*content: "";*/
/*position: absolute;*/
/*height: 0;*/
/*left: 49%;*/
/*top: 18%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: whitesmoke;*/
/*border-bottom-color: transparent;*/
/*border-right-color: transparent;*/
/*border-left-color: transparent;*/
/*}*/

.reliability {
  width: 100%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 2%;
  color: #3bb8c5;
  font-family: Noto Serif, sans-serif;
  width: 50%;
  background: whitesmoke;
  padding: 2%;
}

/*.reliability::before {*/
/*content: "";*/
/*position: absolute;*/
/*height: 0;*/
/*left: 49%;*/
/*top: 74%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: whitesmoke;*/
/*border-top-color: transparent;*/
/*border-right-color: transparent;*/
/*border-left-color: transparent;*/
/*}*/

.mission {
  width: 100%;
  background: #3bb8c5;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.mission img {
  height: 350px !important;
  width: 500px !important;
  position: relative !important;
}

.mission .mission_overlay {
  position: absolute;
  width: 0;
  left: 21%;
  border-width: 175px;
  border-style: solid;
  border-color: #3bb8c5;
  z-index: 3;
  border-left-color: transparent;
}

.mission .mission_description {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.aboutus {
  width: 100%;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.aboutus img {
  height: 350px !important;
  width: 500px !important;
  position: relative !important;
}

.aboutus .aboutus_overlay {
  position: absolute;
  width: 0;
  left: 52%;
  border-width: 175px;
  border-style: solid;
  border-color: #ffffff;
  z-index: 3;
  border-right-color: transparent;
}

.aboutus .aboutus_description {
  position: relative;
  display: flex;
  width: 70%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contact_us {
  height: 550px;
  background: #3bb8c5;
  display: flex;
  position: relative;
  flex-flow: column;
}

.contact_us .contact_us_title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.contact_us .sumbitButton {
  background: white;
  width: 80%;
  border-radius: 20px;
  height: 40px;
  margin-top: 7%;
  margin-left: 10%;
  border: none;
}

.contact_us .sumbitButton:hover {
  background: #ecf2f3;
  cursor: pointer;

}

.contact_us_title p {
  color: #ffffff;
  font-size: 25px;
}

.contact_us .contact_us_title p::after {
  content: '';
  display: block;
  height: 2px;
  background: #ffffff;
  width: 50%;
  margin-left: 25%;

}

.contact_us .contact_us_form .row {
  width: 100% !important;
}

.contact_us .contact_us_form .details {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-left: 5%;
}

.contact_us .contact_us_form .details .item {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.contact_us_form .details .item h3 {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.contact_us_form .details .item p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.contact_us label {
  display: block !important;
  color: #ffffff;
}

.contact_us_form textarea {
  height: 200px;
}

/*------------------------  submit modal ----------------------------------*/

.submitContainer {
  width: 100%;
}

.submitContainer .InputContainer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.submitContainer .InputContainer input {
  margin-top: 20px;
  margin-bottom: 20px;
}

/*-------------------------------------- Landing ---------------------------------------*/

.landingContainer {
  width: 100%;
  position: relative;
  min-height: 700px;
}

.landingContainer img {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 0;
}

.landingContainer .landingMoto {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.landingMoto .motoWrapper .knowus {
  background: rgba(255, 255, 255, 0.85) !important;
  margin-right: 12%;
  height: 300px;
}

.knowus p {
  font-family: Noto Serif, sans-serif;
  font-size: 18px !important;
  color: #1f7e9a !important;
}

.carousel-caption {
  padding-bottom: 15% !important;
  width: 70% !important;
  left: 15% !important;
}

.carousel-inner .item .item_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
}

.carousel-caption .moto {
  padding: 2%;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
.carousel-caption h1 {
  color: #ffffff;
  font-family: Noto Serif, sans-serif;
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900;

}

.carousel-caption p {
  color: #ffffff;
  font-family: Noto Serif, sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.carousel-caption span {
  color: #5fe4fb;
  font-weight: 900;
}

.landingContainer .landingButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.landingContainer .CustomiseButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  height: 70px;
  border-radius: 4px;
  background: #3b8890;
  position: relative;
  color: #ffffff;
  font-size: 18px;
}

.landingContainer .CustomiseButton:hover {
  cursor: pointer;
  background: #285653;
  box-shadow: 0px 0px 1px 1px #4a90ff;
}

.landingContainer .CustomiseButton p {
  margin: 0 !important;
}

.landingContainer .mainRoutes {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.mainRoutes .Ramadan {
  width: 28%;
  height: 360px;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
}

.mainRoutes .routeTitle {
  width: 40%;
  position: absolute;
  z-index: 4;
  background: #3bb8c5;
  align-self: center;
  height: 40px;
}

.mainRoutes .routeTitle p {
  color: #ffffff;
  font-family: 'Amiri', serif;
  font-size: 20px;
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  padding-top: 4px;
}

.mainRoutes .Umrah {
  width: 28%;
  height: 360px;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-right: 2%;
  justify-content: center;
}

.mainRoutes .Zyarat {
  width: 28%;
  height: 360px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-right: 2%;
  justify-content: center;
}

.mainRoutes .hajj {
  width: 28%;
  height: 360px;
  display: flex;
  overflow: hidden;
  margin-right: 2%;
  position: relative;
  justify-content: center;
}

.mainRoutes img {
  width: 100%;
  height: inherit;
  transition: 1s;
}

.mainRoutes img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mainRoutes div {
  margin-bottom: 1%;
  box-shadow: 0px 0px 6px 1px #6b6b6b;
}

/*------------------------------------ Footer ----------------------------------------------*/
.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #3bb8c5;
  position: relative;
}

.footerContainer p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 14px;
  margin: 15px !important;
}

.footerContainer p i {
  width: 35px;
  margin-right: 10px;
}

.footerContainer h4 {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.footerContainer .LeftSection {
  width: 30%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.footerContainer .fa {
  color: #ffffff !important;
}

.footerContainer .LeftSection div {
  margin-bottom: 5%;
}

.footerContainer .RightSection {
  width: 30%;
  text-align: center;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/*---------------------------------------- Missing --------------------------------------*/
.missingContainer {
  min-height: 700px;
  position: relative;
  padding-top: 6%;
}

/*-------------------------------------- programs ----------------------------------*/
.programNavigation {
  display: flex;
  flex-flow: row nowrap;
}

.navTab {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* Standard syntax (must be last) */

}

.navTab.active {
  background: -webkit-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154));
}

.navTab:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154));
}

.navTab p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  align-self: center !important;
  margin-bottom: 0px;
  margin-top: 10px;
  height: 40px;
}

.programsContainer {
  width: 100%;
  min-height: 700px;
  padding-top: 6%;
}

.programbackground {
  position: absolute;
  z-index: 0;
  width: 100%;
  filter: blur(20px);
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 3%;
}

.programNavbar {
  width: 100%;
  margin-top: 5%;
  position: relative;
  background: #dee8e8;
}

.programNavbar ul {
  padding: 0;
  margin: 0;
  display: flex;
}

.programNavbar ul li {
  list-style: none;
  width: 100%;
  text-align: center;
  color: #4bb0bb;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.5s, box-shadow 0.5s;
  border: 1px solid #b9b9b9;
}

.programNavbar ul li:hover {
  background: #52c0cc;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #53c2ce;
  border: none;
}
.programNavbar ul li.active {
  background: #4bb0bb;
  color: #ffffff;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px #498a90;
  border: none;
}

.customProgram {
  width: 90%;
  position: relative;
  background: rgba(17, 50, 53, 0.69);
  box-shadow: 0px -2px 5px 2px #020202;

}

.rightSide {
  width: 60%;
}

.lefSide {
  width: 30%;
}

.contentWrapper .programContent {
  width: 100%;
  margin-bottom: 10%;
  box-shadow: 0px -7px 4px 1px #021e4a;
  border: 2px solid #c3c3c3;
}

.contentWrapper .submit {
  width: 100%;
  color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px -7px 4px 1px #021e4a;
  border: 2px solid #c3c3c3;
  margin-bottom: 10%;
}

.submitButton {
  width: 250px;
  height: 40px;
  background: #3b8890;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 8%;
}

.submitButton p {
  align-self: center;
  font-size: 20px;
  font-family: Georgia, sans-serif;
  margin: 0 !important;
}

.submitButton:hover {
  cursor: pointer;
  background: #ecf2f3;
  box-shadow: 0px 0px 1px 1px #4a90ff;
}

.contentWrapper .invoice {
  width: 100%;
  box-shadow: 0px -7px 4px 1px #021e4a;
  border: 2px solid #c3c3c3;
  margin-bottom: 10%;
}

.invoice .table p {
  margin: 0;
  color: #285653;
  font-size: 12px;
}

.total {
  background: #3b8890 !important;
  color: #ffffff !important;
  border-right: 3px dashed #f3f3f3 !important;
  border-left: 3px dashed #f3f3f3 !important;
  font-weight: bold !important;
}

.total p {
  color: #ffffff !important;
  font-size: 14px !important;
}

.steps {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.steps .step_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 3%;
}

.steps .step_container p {
  color: #9c9c9c;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.steps .step_item {
  background: #52c0cc;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .step_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}

.fa-bed {
  color: #ffffff;
}

.fa-long-arrow-right {
  color: #52c0cc;
  font-size: 4em;
}

.fa-calculator {
  color: #ffffff;
}

.fa-calendar-check-o {
  color: #ffffff;
}

.accommodation {
  width: 100%;
  position: relative;
  padding: 2%;
  background: #eaeaea;
  height: 250px;
  /*display: flex;*/
  display: -webkit-inline-box;
  flex-flow: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}

.accommodation::-webkit-scrollbar {
  background: #ffffff;
  width: 100%;
  height: 12px;
}

.accommodation::-webkit-scrollbar-button {
  background: #52c0cc;
}

.accommodation::-webkit-scrollbar-thumb {
  background: #3b8b94;
}

.accommodation .hotel {
  height: 180px;
  width: 250px;
  margin-right: 15px;
  display: flex;
  transition: box-shadow 0.5s;
}

.accommodation .hotel:hover {
  box-shadow: 0px 0px 6px 2px #000000;
  cursor: pointer;
}
.accommodation .hotel.selected {
  box-shadow: 0px 0px 6px 2px #000000;
}

.accommodation .hotel img {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 1;
}

.accommodation .hotel .hotelName {
  width: inherit;
  position: absolute;
  z-index: 4;
  background: rgba(60, 141, 150, 0.9);
  align-self: flex-end;
  color: #ffffff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.accommodation .selected {
  box-shadow: 0px 0px 6px 2px #021e4a;
}

.schedule {
  position: relative;
  width: 100%;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 2%;
}

.schedule .input_filed {
  width: 45%;
  display: flex;
  flex-flow: column;
  margin-top: 4%;
  margin-bottom: 4%;
}

.schedule .input_filed .schedule_wrapper {
  display: flex;
  flex-flow: row;
}

.schedule .input_filed .form-group label {
  color: #4f98a0;
}
.calculate{
  position: relative;
  background: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
}
.calculate .calculate_button{
   width: 80%;
   height: 50px;
   background: #4f98a0;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fff;
   font-size: 18px;
   font-family: Georgia,sans-serif;
  transition: background 0.4s;
  border-radius: 50px;
 }
.calculate .calculate_button:hover{
  background: #498a90;
  cursor: pointer;
}

.hotelName p {
  margin: 3%;
  margin-left: 10%;
  font-size: 13px;
}

.roomType span {
  font-size: 12px;
  font-family: Georgia, sans-serif;
  color: #41bb41;
}

.extras {
  font-size: 12px;
  font-family: Georgia, sans-serif;
  display: flex;
  justify-content: space-around;
}

.roomType {
  width: 100%;
  position: relative;
}

label {
  font-size: 18px;
  font-family: Georgia, sans-serif;
  color: #fcfeff;
}

.Adults {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 2%;
}

.CheckInOutDates {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
}

.Error {
  width: 100%;
  text-align: center;
}

.Error span {
  color: #e2001e;
  font-family: Georgia, sans-serif;
  font-size: 14px;
}

.checkIn {
  width: 40%;
}

.CheckInOutDates input {
  width: 100%;
  height: 35px;
  background: #ffffff;
  color: #989898;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}

.checkOut {
  width: 40%;
}

.nights p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  color: #1f7e9a;
}

/*---------------------------- includes --------------------------------*/
.includesContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.includesContainer .Includes {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

}

.includesContainer .generals {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

}

.includesContainer .listItem {
  background: #3b8890;
  margin-right: 4%;
  margin-bottom: 4%;
  max-width: 80%;
  display: flex;
  justify-content: flex-end;
  border: 2px dashed #ffffff;
}

.listItem p {
  font-family: 'Amiri', serif;
  color: #ffffff;
  font-size: 18px;
  margin: 0 !important;
  align-self: center;
  padding: 1%;
  padding-left: 15px;
  width: 85%;
}

.listIcon {
  margin-left: 10px;
  margin-right: -3px;
  width: 60px;
  height: inherit;
  border: 1px solid #8a8a8a;
  background: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 0px 3px 1px black;
}

.includesContainer .fa {
  margin: 5px;
  align-self: center;
  color: #3b8890;
}

/*=============================== title ==============================*/
.Title {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.Title p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #9c9cb4;
  margin: 0 !important;
}

.Title p::after {
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  margin-left: 25%;
  background: #9c9cb4;
}

.btn-primary {
  background: #4f98a0 !important;
  width: 140px !important;
}

.btn-primary.active {
  background: #3d7177 !important;
}

@media screen and (max-width: 700px) {
  .rightSide {
    width: 100%;
  }

  .lefSide {
    width: 100%;
  }
}
