@import "./assets/css/material.css";

/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.modal-dialog {
  margin-top: 7%;
  background-color: #288690;
}

.modalControl {
  background-color: #288690;
}

.mat-dialog-container {
  background-color: #288690;
}

.space.sm {
  height: 20px;
}

.space.md {
  height: 50px;
}

.space.lg {
  height: 200px;
}

.loadingContainer {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingContainer .loadingWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
}

.loadingContainer .loadingWrapper.marginTop {
  margin-top: 15%;
}

.loadingContainer img {
  width: 150px;
  height: 150px;
  position: absolute;
}

.loadingWrapper .logo_img {
  width: 85px;
  height: 85px;
}
.cdk-overlay-pane{
  min-width: 150px!important;
}
.loadSVG {
  width: 100px;
  height: 100px;
}

@import url('https://fonts.googleapis.com/css?family=Amiri');

.loadingImg {
  margin-top: 50px;
  margin-bottom: 50px;
}

/*----------------------  Navigation ----------------------------------*/
.navBody {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: center;
}



.navigation {
  border-radius: 0px 0px 11px 11px;
  height: 60px;
  background: rgba(59, 184, 197, 0.7);
  width: 75%;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
}

.navigation .tab {
  display: flex;
  width: 33%;
  height: inherit;
  text-align: center;
  border-radius: inherit;
}
.navBody .language_dropdown{
  width: 100px;
  height: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: rgba(59, 184, 197, 0.7);
  border-radius: 10px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  left: 90%;
  top: 0%;
  padding: 1%;
}
.navBody .language_dropdown span{color: #fff !important; }
.navigation .tab:hover {
  background: #25a4b1;
  cursor: pointer;
  transition: background 0.5s;
}

.navigation .tab p {
  width: 100%;
  align-self: center;
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  margin: 0 !important;
}

.visit {
  width: 100%;
  background: #3bb8c5;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  padding: 2%;
  display: -webkit-inline-box;
  flex-flow: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}

.visit::-webkit-scrollbar {
  background: #ffffff;
  width: 100%;
  height: 12px;
}

.visit::-webkit-scrollbar-button {
  background: #52c0cc;
}

.visit::-webkit-scrollbar-thumb {
  background: #3b8b94;
}

.visitTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background: #3bb8c5;
}

.valueTitle {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background: #fff;
}

.valueTitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  background: #fff;
  padding: 2%;
  color: #3bb8c5;
  font-size: 25px;
  font-weight: bold;
}

.visitTitle p {
  display: flex;
  align-self: center;
  margin-bottom: 0 !important;
  background: #3bb8c5;
  padding: 2%;
  padding-bottom: 0%;
  color: #ffffff;
  font-size: 25px;
  font-weight: bold;
}

/*.visitTitle p::after {*/
/*content: '';*/
/*display: block;*/
/*height: 2px;*/
/*background: #ffffff;*/
/*width: 50%;*/
/*margin-left: 25%;*/
/*}*/

.valueTitle p::after {
  content: '';
  display: block;
  height: 2px;
  background: #3bb8c5;
  width: 50%;
  margin-left: 25%;
}

.visit .item {
  margin-right: 2%;
  width: 330px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
}

.see_more {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  background: #3bb8c5;
}

.see_more p:hover {
  cursor: pointer;
  background: #165f67;
}

.see_more p {
  background: #108a96;
  color: #ffffff;
  padding: 12px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 2%;
  border-radius: 35px;
  transition: background 0.4s;
}

.visit .item img {
  width: inherit;
  height: 300px !important;
  position: relative;
}

.visit .item .itemTitle {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.visit .item .itemDescription {
  position: relative;
  width: 100%;
}

.visit .item .itemDescription .fa-suitcase {
  color: #3bb8c5 !important;
}

.visit .item p {
  text-align: center;
  font-family: Georgia, sans-serif;
  font-size: 14px;
}

.visit .item p {
  color: #247b84;
}

.visit .item .itemTitle p {
  font-weight: bold;
  font-size: 22px;
}

.visit .item .knowMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.knowMore p {
  width: 150px;
  color: #ffffff !important;
  height: 35px;
  padding-top: 2%;
  background-color: #3bb8c5;
}

.knowMore p:hover {
  background-color: #39a1ae;
  cursor: pointer;
}

.values {
  width: 100%;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-flow: column;
  padding-top: 5%;
}

.values .first_row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.values .second_row {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.values .second_row .left {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  justify-content: space-around;
}

/*.values .second_row .left:after { !*  our pseudo-element *!*/
/*makkah: "";*/
/*position: absolute;*/
/*height: 0;*/
/*left: 23%;*/
/*top: 42%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: #f5f5f5;*/
/*border-top-color: transparent;*/
/*border-bottom-color: transparent;*/
/*border-right-color: transparent;*/
/*}*/

.values .second_row .right {
  display: flex;
  flex-flow: row wrap;
  width: 40%;
  justify-content: space-around;
}

/*.values .second_row .right:before { !*  our pseudo-element *!*/
/*makkah: "";*/
/*position: absolute;*/
/*height: 0;*/
/*right: 23%;*/
/*top: 42%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: #f5f5f5;*/
/*border-top-color: transparent;*/
/*border-bottom-color: transparent;*/
/*border-left-color: transparent;*/
/*}*/

.values .third_row {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.first_row p, .second_row p, .third_row p {
  background: #39a1ae;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-handshake-o, .fa-check-square-o, .fa-thumbs-o-up, .fa-usd, .fa-map-marker {
  color: #ffffff;
}

.integrity {
  width: 100%;
  text-align: center;
  margin-bottom: 3%;
  color: #3bb8c5;
  font-family: Noto Serif, sans-serif;
  width: 50%;
  background: whitesmoke;
  padding: 2%;
}

/*.integrity::after {*/
/*makkah: "";*/
/*position: absolute;*/
/*height: 0;*/
/*left: 49%;*/
/*top: 18%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: whitesmoke;*/
/*border-bottom-color: transparent;*/
/*border-right-color: transparent;*/
/*border-left-color: transparent;*/
/*}*/

.reliability {
  width: 100%;
  text-align: center;
  margin-bottom: 7%;
  margin-top: 2%;
  color: #3bb8c5;
  font-family: Noto Serif, sans-serif;
  width: 50%;
  background: whitesmoke;
  padding: 2%;
}

/*.reliability::before {*/
/*makkah: "";*/
/*position: absolute;*/
/*height: 0;*/
/*left: 49%;*/
/*top: 74%;*/
/*width: 0;*/
/*border-width: 19px;*/
/*border-style: solid;*/
/*border-color: whitesmoke;*/
/*border-top-color: transparent;*/
/*border-right-color: transparent;*/
/*border-left-color: transparent;*/
/*}*/

.mission {
  width: 100%;
  background: #3bb8c5;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.mission img {
  height: 350px !important;
  width: 500px !important;
  position: relative !important;
}

.mission .mission_overlay {
  position: absolute;
  width: 0;
  left: 21%;
  border-width: 175px;
  border-style: solid;
  border-color: #3bb8c5;
  z-index: 3;
  border-left-color: transparent;
}

.mission .mission_description {
  position: relative;
  display: flex;
  flex-flow: column;
  width: 70%;
  justify-content: center;
  align-items: center;
}

.aboutus {
  width: 100%;
  background: #ffffff;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.aboutusTitle {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -3%;
}

.aboutusTitle p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
  background: #3bb8c5;
  width: 110px;
  height: 110px;
  border-radius: 80px;
  color: #ffffff;
  font-size: 21px;
  font-weight: bold;
}

.aboutus img {
  height: 350px !important;
  width: 500px !important;
  position: relative !important;
}

.aboutus .aboutus_overlay {
  position: absolute;
  width: 0;
  left: 52%;
  border-width: 175px;
  border-style: solid;
  border-color: #ffffff;
  z-index: 3;
  border-right-color: transparent;
}

.aboutus .aboutus_description {
  position: relative;
  display: flex;
  width: 70%;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.contact_us {
  background: #288690;
  display: flex;
  position: relative;
  justify-content: center;
  flex-flow: column;
}

.contact_us .contact_us_title {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.contact_us .contact_us_form {
  margin-bottom: 1%;
}

.contact_us .sumbitButton {
  background: white;
  width: 80%;
  border-radius: 20px;
  height: 40px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 10%;
  border: none;
}

.contact_us .sumbitButton.disabled {
  background: lightgray;
  cursor: not-allowed;
  pointer-events: none;
  color: #ffffff;
}

.contact_us .sumbitButton.red {
  background: red;
  color: #ffffff;
}

.contact_us .sumbitButton.red:hover {
  background: darkred;
  cursor: pointer;
  color: #ffffff;
}

.contact_us .sumbitButton:hover {
  background: #037900;
  cursor: pointer;
  color: #fff;

}

.contact_us_title p {
  color: #ffffff;
  font-size: 25px;
}

.contact_us .contact_us_title p::after {
  content: '';
  display: block;
  height: 2px;
  background: #ffffff;
  width: 50%;
  margin-left: 25%;

}

.contact_us .contact_us_form .row {
  width: 100% !important;
  margin: 0;
}

.contact_us .contact_us_form .details {
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  margin-left: 5%;
}

.contact_us .contact_us_form .details .item {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.contact_us_form .details .item h3 {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.contact_us_form .details .item p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.contact_us label {
  display: block !important;
  color: #ffffff;
}

.contact_us_form textarea {
  height: 200px;
}

/*------------------------ custom-programs  ----------------------------------*/
.programListContainer {
  width: 100%;
  position: absolute;
  padding-top: 5%;
  background-color: #2d6f75;
}

.programList {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-left: 3%;
  padding-top: 2%;
  background: #e0e0e0;
}

.programList .item {
  margin-right: 2%;
  margin-bottom: 2%;
  width: 300px;
  background: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  transition: box-shadow 0.4s;
}

.programList .item:hover {
  cursor: pointer;
  box-shadow: 0px 0px 7px 1px black;
}

.programList .item img {
  width: inherit;
  height: 270px !important;
  position: relative;
}

.programList .item .knowMore {
  width: 100%;
  display: flex;
  justify-content: center;
}

.programList .item .itemDate {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 55px;
}

.programList .item .itemDate p {
  background: #59b3bc;
  width: 100%;
  color: #fff;
  font-size: 16px;
  margin-bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 2%;
}

.knowMore p {
  width: 150px;
  color: #ffffff;
  height: 35px;
  padding-top: 2%;
  background-color: #3bb8c5;
}

.knowMore p:hover {
  background-color: #39a1ae;
  cursor: pointer;
}

.programList .item .itemTitle {
  position: relative;
  width: 100%;
  margin-top: 10%;
}

.programList .item .itemDescription {
  position: relative;
  width: 100%;
}

.programList .item p {
  text-align: center;
  font-family: Georgia, sans-serif;
  font-size: 14px;
}

.programList .item .itemTitle p {
  font-weight: bold;
  font-size: 22px;
}

.requestProgram {
  position: relative;
  background: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
  padding-top: 7%;
  padding-bottom: 7%;
  align-items: center;
}

.requestButton {
  width: 80%;
  height: 50px;
  background: #4f98a0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: Georgia, sans-serif;
  transition: background 0.4s;
  border-radius: 50px;
}

.requestButton:hover {
  background: #498a90;
  cursor: pointer;
}

/*------------------------  request-program modal ----------------------------------*/

.submitContainer {
  width: 100%;
  background: #288690;
}

/*------------------------------------- program profile -------------------------------------*/

.profileContainer {
  width: 100%;
  position: absolute;
  background: #2d6f75;
  display: flex;
  flex-flow: column;
}

.profileContainer .profileHeader {
  width: 100%;
  display: flex;
  flex-flow: row;
  margin-top: 10%;
  margin-bottom: 1%;
}

.profileContainer .profileHeader .img_container {
  width: 30%;
  display: flex;
  justify-content: center;
}

.profileContainer .profileHeader .details_container {
  width: 70%;
  display: flex;
  flex-flow: column;
}

.profileContainer .profileHeader .details_container h1 {
  color: #fff;
  font-family: Gorgia;
  font-weight: bold;
}

.profileContainer .profileHeader .details_container p {
  color: #fff;
  font-size: 18px;
}

.profileContainer .profileHeader .details_container .date {
  margin-top: 3%;
  display: flex;
  flex-flow: row;
  width: 100%;
}

.profileContainer .profileHeader .details_container .date .TripDate {
  width: 70% !important;
  display: flex;
  flex-flow: column !important;
  justify-content: flex-start;
}

.profileContainer .profileHeader .details_container .date .TripDate div {
  margin-right: 2%;
}

.profileContainer .profileHeader .details_container .date .tripDuration {
  width: 30% !important;
  display: flex;
  flex-flow: row !important;
  justify-content: flex-start;
  align-items: center;
}

.profileContainer .profileHeader .details_container .TripDate p {
  box-shadow: 0px 0px 8px 3px #225458;
  background: #2f8e98;
  border-radius: 40px;
  padding: 3%;
  padding-left: 5%;
  padding-right: 5%;
  width: 70%;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.profileContainer .profileHeader .details_container .date p {
  font-size: 18px;
}

.profileContainer .profile_body {
  position: relative;
  width: 100%;
  background: #ffffff;
  display: flex;
  flex-flow: column;
}

.horizontal_line {
  width: 90%;
  position: relative;
  height: 2px;
  background: #d0d0d0;
  margin-top: 4%;
  margin-bottom: 4%;
  display: flex;
  align-self: center;
}

.horizontal_line.programHeader {
  width: 80%;
  position: relative;
  height: 2px;
  background: #398b92;
  margin-top: 1%;
  margin-bottom: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
}

.profileContainer .profile_body .rules {
  width: 100%;
  position: relative;
  padding-bottom: 2%;
}

.profileContainer .profile_body .rules div {
  display: flex;
  flex-flow: column;
  margin-left: 3%;
}

.profileContainer .profile_body .rules div h3 {
  font-family: Georgia;
  color: #4a8a90;
}

.profileContainer .profile_body .rules div h3::after {
  content: '';
  height: 2px;
  display: block;
  width: 5%;
  background: #4a8a90;
}

.profileContainer .profile_body .rules div p {
  font-family: Georgia;
  color: #757575;
}

.profileContainer .profile_body .AccommodationUmrah table th {
  height: 60px;
  color: #2d6f75;
}

.profileContainer .profile_body .Accommodationhajj table th {
  height: 60px;
  color: #2d6f75;
}

.profileContainer .profile_body .AccommodationUmrah table td {
  height: 60px;
  padding-top: 1.5%;
}

.profileContainer .profile_body .Accommodationhajj table td {
  height: 60px;
  padding-top: 1.5%;
}

.profileContainer .profile_body .mashaer div {
  display: flex;
  flex-flow: column;
  margin-left: 3%;
}

.profileContainer .profile_body .mashaer div h3 {
  font-family: Georgia;
  color: #4a8a90;
}

.profileContainer .profileHeader .img_container img {
  width: 250px;
  height: 250px;
  border-radius: 250px;
  border: 5px solid #36a2ad;
}

.profileContainer .hajjprice {
  width: 100%;
  position: relative;
}

.profileContainer .hajjprice table th {
  text-align: center;
  color: #2d6f75;

}

.profileContainer .hajjprice table td {
  transition: background 0.4s;
}

.profileContainer .hajjprice table td:hover {
  cursor: pointer;
  color: #ffffff;
  background: #2d6f75;
}

.profileContainer .requestProgram {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
}

/*-------------------------------------- Landing ---------------------------------------*/

.landingContainer {
  width: 100%;
  position: relative;
  min-height: 700px;
}

.landingContainer img {
  width: 100%;
  height: inherit;
  position: absolute;
  z-index: 0;
}

.landingContainer .landingMoto {
  position: relative;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.landingMoto .motoWrapper .knowus {
  background: rgba(255, 255, 255, 0.85) !important;
  margin-right: 12%;
  height: 300px;
}

.knowus p {
  font-family: Noto Serif, sans-serif;
  font-size: 18px !important;
  color: #1f7e9a !important;
}

.carousel-caption {
  padding-bottom: 15% !important;
  width: 70% !important;
  left: 15% !important;
}

.carousel-inner .item .item_overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 650px;
}

.carousel-caption .moto {
  padding: 2%;
}

@import url('https://fonts.googleapis.com/css?family=Noto+Serif');
.carousel-caption h1 {
  color: #ffffff;
  font-family: Noto Serif, sans-serif;
  font-size: 90px;
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 900;

}

.carousel-caption p {
  color: #ffffff;
  font-family: Noto Serif, sans-serif;
  font-size: 30px;
  margin-bottom: 0;
  margin-top: 0;
}

.carousel-caption span {
  color: #5fe4fb;
  font-weight: 900;
}

.landingContainer .landingButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 8%;
}

.landingContainer .CustomiseButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 250px;
  height: 70px;
  border-radius: 4px;
  background: #3b8890;
  position: relative;
  color: #ffffff;
  font-size: 18px;
}

.landingContainer .CustomiseButton:hover {
  cursor: pointer;
  background: #285653;
  box-shadow: 0px 0px 1px 1px #4a90ff;
}

.landingContainer .CustomiseButton p {
  margin: 0 !important;
}

.landingContainer .mainRoutes {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: 10%;
}

.mainRoutes .Ramadan {
  width: 28%;
  height: 360px;
  overflow: hidden;
  display: flex;
  position: relative;
  justify-content: center;
}

.mainRoutes .routeTitle {
  width: 40%;
  position: absolute;
  z-index: 4;
  background: #3bb8c5;
  align-self: center;
  height: 40px;
}

.mainRoutes .routeTitle p {
  color: #ffffff;
  font-family: 'Amiri', serif;
  font-size: 20px;
  width: 100% !important;
  margin: 0 !important;
  display: flex;
  justify-content: center;
  padding-top: 7px;
}

.mainRoutes .Umrah {
  width: 28%;
  height: 360px;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-right: 2%;
  justify-content: center;
}

.mainRoutes .Zyarat {
  width: 28%;
  height: 360px;
  display: flex;
  overflow: hidden;
  position: relative;
  margin-right: 2%;
  justify-content: center;
}

.mainRoutes .hajj {
  width: 28%;
  height: 360px;
  display: flex;
  overflow: hidden;
  margin-right: 2%;
  position: relative;
  justify-content: center;
}

.mainRoutes img {
  width: 100%;
  height: inherit;
  transition: 1s;
}

.mainRoutes img:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.mainRoutes div {
  margin-bottom: 1%;
  box-shadow: 0px 0px 6px 1px #6b6b6b;
}

.location {
  height: 400px;
  background: #3bb8c5;
  display: flex;
  position: relative;
  flex-flow: column;
}

/*------------------------------------ Footer ----------------------------------------------*/
.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #3bb8c5;
  position: relative;
}

.footerContainer p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  font-size: 14px;
  margin: 15px !important;
}

.footerContainer p i {
  width: 35px;
  margin-right: 10px;
}

.footerContainer h4 {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.footerContainer .LeftSection {
  width: 30%;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 0.5%;
}

.footerContainer .fa {
  color: #ffffff !important;
}

.footerContainer .LeftSection div {
  margin-bottom: 5%;
}

.footerContainer .RightSection {
  width: 30%;
  text-align: center;
  margin-right: 2%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
}

/*---------------------------------------- Missing --------------------------------------*/
.missingContainer {
  min-height: 700px;
  position: relative;
  padding-top: 6%;
}

/*-------------------------------------- custom-programs ----------------------------------*/
.programNavigation {
  display: flex;
  flex-flow: row nowrap;
}

.navTab {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 5px;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgb(143, 196, 154)); /* Standard syntax (must be last) */

}

.navTab.active {
  background: -webkit-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154));
}

.navTab:hover {
  cursor: pointer;
  background: -webkit-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to top, rgba(59, 136, 144, 0.8), rgb(143, 196, 154));
}

.navTab p {
  color: #ffffff;
  font-family: Georgia, sans-serif;
  align-self: center !important;
  margin-bottom: 0px;
  margin-top: 10px;
  height: 40px;
}

.programsContainer {
  width: 100%;
  min-height: 700px;
  padding-top: 6%;
}

.programbackground {
  position: absolute;
  z-index: 0;
  width: 100%;
  filter: blur(20px);
}

.contentWrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-top: 3%;
}

.programNavbar {
  width: 100%;
  margin-top: 5%;
  position: relative;
  background: #dee8e8;
}

.programNavbar ul {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.programNavbar ul li {
  font-size: 20px;
  font-family: Georgia, sans-serif;
  list-style: none;
  width: 20%;
  text-align: center;
  color: #4bb0bb;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.programNavbar ul li .fa-check-square-o {
  margin-left: 5%;
}

.customProgram {
  width: 90%;
  position: relative;
  background: rgba(17, 50, 53, 0.69);
  box-shadow: 0px -2px 5px 2px #020202;

}

.rightSide {
  width: 60%;
}

.lefSide {
  width: 30%;
}

.contentWrapper .programContent {
  width: 100%;
  margin-bottom: 10%;
  box-shadow: 0px -7px 4px 1px #021e4a;
  border: 2px solid #c3c3c3;
}

.contentWrapper .submit {
  width: 100%;
  color: blue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px -7px 4px 1px #021e4a;
  border: 2px solid #c3c3c3;
  margin-bottom: 10%;
}

.submitButton {
  width: 250px;
  height: 40px;
  background: #3b8890;
  display: flex;
  justify-content: center;
  color: #ffffff;
  margin: 8%;
}

.submitButton p {
  align-self: center;
  font-size: 20px;
  font-family: Georgia, sans-serif;
  margin: 0 !important;
}

.submitButton:hover {
  cursor: pointer;
  background: #ecf2f3;
  box-shadow: 0px 0px 1px 1px #4a90ff;
}

.contentWrapper .invoice {
  width: 100%;
  box-shadow: 0px -7px 4px 1px #021e4a;
  border: 2px solid #c3c3c3;
  margin-bottom: 10%;
}

.invoice .table p {
  margin: 0;
  color: #285653;
  font-size: 12px;
}

.total {
  background: #3b8890 !important;
  color: #ffffff !important;
  border-right: 3px dashed #f3f3f3 !important;
  border-left: 3px dashed #f3f3f3 !important;
  font-weight: bold !important;
}

.total p {
  color: #ffffff !important;
  font-size: 14px !important;
}

.steps {
  width: 100%;
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-top: 3%;
  margin-bottom: 3%;
}

.steps .step_container {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-right: 3%;
}

.steps .step_container p {
  color: #9c9c9c;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  margin-top: 10px;
}

.steps .step_item {
  background: #52c0cc;
  width: 100px;
  height: 100px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps .step_arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 3%;
}

.fa-bed {
  color: #ffffff;
}

.fa-h-square {
  color: #ffffff;
}

.fa-long-arrow-right {
  color: #52c0cc;
  font-size: 4em;
}

.fa-calculator {
  color: #ffffff;
}

.fa-calendar-check-o {
  color: #ffffff;
}

.fa-plane {
  color: #ffffff;
}

.fa-suitcase {
  color: #ffffff;
  margin-right: 2%;
}

.accommodation {
  width: 100%;
  position: relative;
  padding: 2%;
  background: #eaeaea;
  height: 250px;
  /*display: flex;*/
  display: -webkit-inline-box;
  flex-flow: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
}

.accommodation::-webkit-scrollbar {
  background: #ffffff;
  width: 100%;
  height: 12px;
}

.accommodation::-webkit-scrollbar-button {
  background: #52c0cc;
}

.accommodation::-webkit-scrollbar-thumb {
  background: #3b8b94;
}

.accommodation .hotel {
  height: 180px;
  width: 250px;
  margin-right: 15px;
  display: flex;
  transition: box-shadow 0.5s;
}

.accommodation .hotel:hover {
  box-shadow: 0px 0px 6px 2px #000000;
  cursor: pointer;
}

.accommodation .hotel.selected {
  box-shadow: 0px 0px 6px 2px #000000;
}

.accommodation .hotel img {
  width: inherit;
  height: inherit;
  position: absolute;
  z-index: 1;
}

.accommodation .hotel .hotelName {
  width: inherit;
  position: absolute;
  z-index: 4;
  background: rgba(60, 141, 150, 0.9);
  align-self: flex-end;
  color: #ffffff !important;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 1%;
}

.accommodation .selected {
  box-shadow: 0px 0px 6px 2px #021e4a;
}

.schedule {
  position: relative;
  width: 100%;
  background: #fff;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  padding: 2%;
}

.schedule .input_filed {
  width: 45%;
  display: flex;
  flex-flow: column;
  margin-top: 4%;
  margin-bottom: 7%;
}

.schedule .input_filed .schedule_wrapper {
  display: flex;
  flex-flow: row;
}

.schedule .input_filed .form-group label {
  color: #4f98a0;
}

.calculate {
  position: relative;
  background: #eaeaea;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 5%;
  padding-top: 5%;
  padding-bottom: 7%;
}

.calculate .calculate_button {
  margin-top: 2%;
  width: 80%;
  height: 50px;
  background: #4f98a0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-family: Georgia, sans-serif;
  transition: background 0.4s;
  border-radius: 50px;
  align-self: center;
}

.price {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
}

.price .price_container {
  background: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  width: 30%;
  align-self: center;
}

.price .price_container .price_header {
  background: #4f98a0;
}

.price .price_container .price_header h1 {
  color: #ffffff;
  font-family: Georgia, sans-serif;
}

.price .price_container div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.price h3 {
  color: #868686;
  font-family: Georgia, sans-serif;
}

.price p {
  font-size: 25px;
  font-family: sans-serif;
  color: #989898;
  margin: 3%;
}

.price h1 {
  color: #868686;
  font-family: Georgia, sans-serif;
}

.price h3::after {
  content: '';
  display: block;
  width: 7%;
  height: 2px;
  margin-top: 1%;
  margin-bottom: 1%;
  background: #868686;
}

.calculate .calculate_button:hover {
  background: #498a90;
  cursor: pointer;
}

.hotelName p {
  margin: 3%;
  margin-left: 10%;
  font-size: 13px;
}

.roomType span {
  font-size: 12px;
  font-family: Georgia, sans-serif;
  color: #41bb41;
}

.extras {
  font-size: 12px;
  font-family: Georgia, sans-serif;
  display: flex;
  justify-content: space-around;
}

.roomType {
  width: 100%;
  position: relative;
}

label {
  font-size: 18px;
  font-family: Georgia, sans-serif;
  color: #fcfeff;
}

.Adults {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-bottom: 2%;
}

.CheckInOutDates {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
}

.Error {
  width: 100%;
  text-align: center;
}

.Error span {
  color: #e2001e;
  font-family: Georgia, sans-serif;
  font-size: 14px;
}

.checkIn {
  width: 40%;
}

.CheckInOutDates input {
  width: 100%;
  height: 35px;
  background: #ffffff;
  color: #989898;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #eaeaea;
}

.checkOut {
  width: 40%;
}

.nights p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  color: #1f7e9a;
}

/*---------------------------- madinah --------------------------------*/
.includesContainer {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;

}

.includesContainer .Includes {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

}

.includesContainer .generals {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-end;

}

.includesContainer .listItem {
  background: #3b8890;
  margin-right: 4%;
  margin-bottom: 4%;
  max-width: 80%;
  display: flex;
  justify-content: flex-end;
  border: 2px dashed #ffffff;
}

.listItem p {
  font-family: 'Amiri', serif;
  color: #ffffff;
  font-size: 18px;
  margin: 0 !important;
  align-self: center;
  padding: 1%;
  padding-left: 15px;
  width: 85%;
}

.listIcon {
  margin-left: 10px;
  margin-right: -3px;
  width: 60px;
  height: inherit;
  border: 1px solid #8a8a8a;
  background: white;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  box-shadow: 0px 0px 3px 1px black;
}

.includesContainer .fa {
  margin: 5px;
  align-self: center;
  color: #3b8890;
}

/*=============================== title ==============================*/
.Title {
  width: 100%;
  margin-top: 3%;
  display: flex;
  justify-content: center;
  margin-bottom: 3%;
}

.Title.right {
  justify-content: flex-start;
  margin-left: 3%;
  width: 97%;

}

.Title.right.manar_program p {
  color: #ffffff;
}

.Title.right.manar_program p::after {
  background: #ffffff;
}

.Title p {
  font-family: Georgia, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #4a8a90;
  margin: 0 !important;
}

.Title p::after {
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  margin-left: 25%;
  background: #4a8a90;
}

.Title.right p::after {
  content: '';
  display: block;
  height: 2px;
  width: 50%;
  margin-left: 0% !important;
  background: #4a8a90;
}

.btn-primary {
  background: #4f98a0 !important;
  width: 140px !important;
}

.btn-primary.active {
  background: #3d7177 !important;
}

.mission .mission_description p {
  font-size: 16px;
  color: #ffffff;
  width: 65%;
  text-align: center;
}

.aboutus .aboutus_description p {
  font-size: 16px;
  color: #3bb8c5;
  width: 65%;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .navigation {
    width: 100%;
  }

  #myCarousel {
    display: none;
  }

  .landingContainer .mainRoutes {
    flex-flow: column;
    align-items: center;
  }

  .mainRoutes .Umrah {
    width: 90%;
    height: 200px;
    margin: 0;
    margin-bottom: 5%;
  }

  .mainRoutes .hajj {
    width: 90%;
    height: 200px;
    margin: 0;
    margin-bottom: 5%;
  }

  .mainRoutes .Ramadan {
    width: 90%;
    height: 200px;
    margin: 0;
    margin-bottom: 5%;
  }

  .Title {
    width: 100%;
    margin-top: 25%;
    background: #2a7077;
    padding: 3%;
  }

  .visit .item {
    width: 200px;
  }

  .valueTitle p {
    font-size: 18px;
  }

  .visit .item img {
    height: 200px !important;
  }

  .values .first_row {
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
  }

  .values .second_row {
    flex-flow: column;
  }

  .values .second_row .left {
    display: flex;
    width: 100%;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .values .second_row .right {
    flex-flow: row-reverse;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .values .third_row {
    flex-flow: row;
    justify-content: space-around;
    width: 100%;
  }

  .integrity {
    width: 60%;
  }

  .reliability {
    width: 60%;
  }

  .mission {
    flex-flow: column;
    align-items: center;
  }

  .mission .mission_description {
    width: 100%;
    padding: 3%;
  }

  .mission .mission_description p {
    width: 100%;
  }

  .mission img {
    width: 100% !important;
    height: 270px !important;
  }

  .mission .mission_overlay {
    display: none;
  }

  .aboutus {
    flex-flow: column-reverse;
  }

  .aboutus .aboutus_description {
    width: 100%;
    padding: 3%;
  }

  .aboutus img {
    width: 100% !important;
    height: 270px !important;
  }

  .aboutus .aboutus_description p {
    width: 100%;
  }

  .contact_us .contact_us_form .details {
    align-items: center;
  }

  .contact_us .contact_us_form .details .item {
    align-items: center;
  }

  .aboutus .aboutus_overlay {
    display: none;
  }

  .steps {
    margin-top: 25%;
  }

  .steps .step_item {
    background: #52c0cc;
    width: 60px;
    height: 60px;
  }

  .fa-long-arrow-right {
    color: #52c0cc;
    font-size: 2em;
  }

  .steps .step_container p {
    font-size: 14px;
    text-align: center;
  }

  .steps .step_container {
    margin: 0;
  }

  .schedule {
    flex-flow: column;
  }

  .schedule .input_filed {
    width: 100%;
  }
  .btn-group{
    margin-top: 5%;
  }
  .btn-group, .btn-group-vertical {
    display: inline-flex !important;
  }
  .btn-group label{
    padding: 5%;
  }
  .price .price_container{
    width: 100%;
  }
  .info_block h4{
    font-size: 12px !important;
  }
  .info_block p{
    font-size: 12px !important;
  }
  .profileContainer .profileHeader{
    flex-flow: column;
    align-items: center;
    padding-top:15% ;
  }
  .profileContainer .profileHeader .img_container{
    width: 100%;
  }
  .profileContainer .profileHeader .img_container img{
    height:150px;
    width: 150px;
  }
  .profileContainer .profileHeader .details_container{
    align-items: center;
    width: 100%;
  }
  .profileContainer .profileHeader .details_container .date{
    flex-flow: column;
    align-items: center;
  }

  .profileContainer .profileHeader .details_container .date .tripDuration{
    width: 100% !important;
    justify-content: center !important;
  }
  .profileContainer .profileHeader .details_container .TripDate p{
    width: 100%;
  }
  .profileContainer .profileHeader .details_container .date .TripDate{
    width: 90% !important;
  }
  .Title p {
    color: #fff;
  }

  .rightSide {
    width: 100%;
  }

  .lefSide {
    width: 100%;
  }
}
