<div class="steps">
  <div class="step_container">
    <div class="step_item"><i class="fa fa-2x fa-bed" aria-hidden="true"></i></div>
    <p>Choose Hotel</p>
  </div>
  <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
  <div class="step_container">
    <div class="step_item"><i class="fa fa-2x fa-calendar-check-o" aria-hidden="true"></i></div>
    <p>Check In & Out dates</p>
  </div>
  <div class="step_arrow"><i class="fa fa-3x fa-long-arrow-right" aria-hidden="true"></i></div>
  <div class="step_container">
    <div class="step_item"><i class="fa fa-2x fa-calculator" aria-hidden="true"></i></div>
    <p>Calculate your trip</p>
  </div>
</div>
<div class="accommodation">
  <!--*ngIf="makkahhotels;else loading"-->
  <!--*ngFor="let hotel of makkahhotels" (click)="selectMakkahHotel(hotel.hotelName,hotel.currency,hotel.single,hotel.double,hotel.triple,hotel.quad)"-->
  <div class="hotel" (click)="selectHotel('Hilton')" [ngClass]="{selected: isSelected}">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/hilton.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>hilton</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel" >
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>
  <div class="hotel">
    <!--{{hotel.hotelLogo}}-->
    <img src="../../../assets/imgs/royal.jpg" alt="">
    <!--{{hotel.hotelName|uppercase}}-->
    <!--<rating [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>-->
    <div class="hotelName"><p>Royal</p></div>
  </div>

</div>
<div class="schedule">
  <div class="input_filed">
    <div class="Title"><p>Check IN & OUT</p></div>
    <div class="schedule_wrapper">
      <input [minDate]="minDate" [bsConfig]="bsConfig" class="form-control" #drp="bsDaterangepicker" bsDaterangepicker [(ngModel)]="bsRangeValue">

      <button class="btn btn-primary" (click)="drp.toggle()">Date Range Picker</button>
    </div>

  </div>

  <div class="input_filed">
    <div class="Title"><p>Room Type</p></div>
    <div class="btn-group">
      <label class="btn btn-primary" [(ngModel)]="roomType" btnRadio="Single">Single</label>
      <label class="btn btn-primary" [(ngModel)]="roomType" btnRadio="Double">Double</label>
      <label class="btn btn-primary" [(ngModel)]="roomType" btnRadio="Triple">Triple</label>
      <label class="btn btn-primary" [(ngModel)]="roomType" btnRadio="Quad">Quad</label>
    </div>
  </div>
</div>
<div class="calculate">
  <div class="calculate_button">Calculate</div>
</div>

