<div class="includesContainer">
  <div class="Title">
    <p>Including</p>
  </div>
  <div class="Includes" *ngIf="includes ; else LoadIncludes">
    <div class="listItem" *ngFor="let include of includes; index as index">
      <p>{{include}}</p>
      <div class="listIcon"><i class="fa fa-2x fa-ticket" aria-hidden="true"></i></div>
    </div>
  </div>
  <ng-template #LoadIncludes><img  class="loadingImg" src="assets/imgs/load.svg" alt=""></ng-template>


  <div class="Title">
    <p>General instructions</p>
  </div>
  <div class="generals" *ngIf="general ; else loadGenerals">
    <div class="listItem" *ngFor="let generals of general;index as index">
      <p>{{generals}}</p>
      <div class="listIcon"><i class="fa fa-2x fa-exclamation-triangle" aria-hidden="true"></i></div>
    </div>
  </div>
  <ng-template #loadGenerals><img  class="loadingImg"  src="assets/imgs/load.svg" alt=""></ng-template>
</div>
